::ng-deep .modal-dialog .mat-dialog-container{
  position: relative;
  border: 2px solid red;
  border-radius: 6px;
}
::ng-deep .modal-dialog .mat-dialog-container .close-icon{
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;

  min-width: auto;
}

